.game-cli {
    position: relative;
}

.game-cli > input {
    width: 97%;
    width: stretch;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    height: 44px;
    padding: 7px 14px 7px 28px;
}

.game-cli:before {
    position: absolute;
    top: 18px;
    left: 10px;
    content: '>';
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}