.gameboard {
    height: 94vh;
    margin: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    font-family: 'PT Serif', serif;
}

.gameboard_cli--error {
    font-family: 'Roboto Mono', monospace;
    color: #870731;
}

.gameboard_story-page-container {
    margin-bottom: auto;
    height: 82%;
    display: flex;
    justify-content: space-between;
}

.gameboard_story-page-container--story {
    width: 75%;
}

.gameboard_story-page-container--inventory {
    width: 23%;
}

.gameboard_cli-container {
    height: 18%;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}