ul.story-page {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.story-page__list-item {
    background-color: #fcfcfc;
    margin: 0;
    font-size: 18px;
    padding: 14px;
}

.story-page__list-item:nth-child(2n) {
    background-color: #f0f0f0
}